---
layout: index.pug
language: pt
permalink: /pt/
---

.header.full-width
  .contents
    h1 Bem vindes
    br
    h1 ao Kit de Primeiros Socorros Digitais!
    br
    h1#sub Um kit pensado para te conduzir à equipe CiviCERT adequada às suas necessidades de cuidado digital

.intro
  .contents
    p O Kit De Primeiros Socorros Digitais é um recurso livre para auxiliar pessoas que atuam como socorristas digitais, treinadoras em segurança digital, e suporte técnico ativista a protegem melhor a si e às comunidades que apoiam contra as formas mais comuns de emergências digitais. Também pode ser usada por ativistas, defensoras de direitos humanos, produtoras de conteúdo, jornalistas e ativistas de mídia que desejam aprender mais sobre como se proteger e apoiar outras pessoas. Se você estiver prestando apoio ou passando pessoalmente por uma emergência digital, o Kit de Primeiros Socorros Digitais servirá de diagnóstico para os problemas que estiver encarando, e indicar fontes de apoio posterior caso seja necessário.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 Por qual problema você está passando?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p Perdi meu dispositivo
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p Não consigo acessar minhas contas
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p Meu dispositivo está com um comportamento estranho
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p Recebi uma mensagem suspeita
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p Meu site caiu e não sei o que aconteceu
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p Outra pessoa está se passando por mim online
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p Estou sendo alvo de perseguição online
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p Eu perdi meus dados
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Someone I know has been arrested

    p.after
      | Selecione o proble que estiver lidando e o Kit de Primeiros Socorros
      | Digitais irá te conduzir através de uma série de questões com o
      | objetivo de diagnosticar melhor o problema, e encontrar recursos para
      | ajudar você. Para problemas que não puder resolver por sua conta, o Kit
      | conta com uma
      a(href="support/") lista de organizações de apoio para contato
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 O QUE MAIS VOCÊ PRECISA SABER?
          p
            | O Kit de Primeiros Socorros Digitais não tem a intenção de servir como a solução definitiva
            | para todas as suas emergências digitais. Se você não tem certeza sobre como tratar
            | problemas que esteja lidando, por gentileza entre em contato com
            a(href="support/") uma das organizações de apoio nesta lista
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 LIDANDO COM SOBRECARGA EMOCIONAL?
          p
            | Perseguições online, ameaças, e outros tipos de ataques digitais
            | podem pesar nos seus sentimentos e bem estar. Leia nosso
            a(href="self-care/") Guia de cuidados pessoais
            |  para encontrar recursos de apoio e redução de danos
            | e organizações que possam auxiliar em questões sensíveis.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 QUEM FAZ O KIT DE PRIMEIROS SOCORROS DIGITAIS?
          p
            | Este recurso é um esforço colaborativo da
            a(href="https://www.rarenet.org") Rapid Response Network
            |  e da
            a(href="https://www.civicert.org") CiviCERT
            | . Veja nossa
            a(href="about/") página "Sobre"
            | para maiores informações. O Kit de Primeiros Socorros Digitais
            | é um projeto de código aberto e novas contribuições 
            a(href="https://gitlab.com/rarenet/dfak") serão bem vindas
            | .
